# .gitignore

# Виключити віртуальне середовище
venv/
env/
.venv/

# Django та Python службові файли
__pycache__/
*.pyc
*.log
*.sqlite3 # База даних SQLite

# Секретні файли (КРИТИЧНО ВАЖЛИВО)
*.env
.vscode/

# Django-специфічні файли
static_root/
media/
staticfiles/

# Операційні системи
.DS_Store
Thumbs.db