{% extends 'base.html' %}

{% block content %}
    {% include 'data_social_settings.html' %}
    {% comment %}
    <div class="container mt-4">
        <div class="card shadow" id="main-content">
            <div class="card-header bg-info text-white">
                <h3 class="card-title mb-0"><i class="bi bi-gear me-2"></i>Налаштування соціальних показників</h3>
            </div>
            <div class="card-body">
                {% include 'social_settings.html' %}
{#                <button class="btn btn-outline-info me-2"#}
{#                        type="button"#}
{#                        onclick="window.location='{% url redirect_button %}'">#}
{#                    onclick="window.location='#'">#}
{#                    <i class="{{ icon_button }}"></i> {{ title_button }}#}
{#                </button>#}

                {% include 'base_table.html' %}
                {% comment %}
            <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                    {% for field in form %}
                    <div class="col-md-6">
                        <label class="form-label fw-bold">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-save me-2"></i>Зберегти налаштування
                    </button>
                </div>
            </form>
            {% endcomment %}
{% comment %}
            </div>
        </div>
    </div>
{% endcomment %}
{% endblock %}