{% load static %}
<h2 class="mb-4 text-primary">{{ form_title }}</h2>
<div class="mb-3">
    {% for button in toolbar_buttons %}
    {% include 'ui/htmx_button.html' with button=button %}
    {% endfor %}
</div>

<form method="post"
      hx-post="{{ form_action_url }}"
      hx-target="#main-content"
      hx-swap="innerHTML"
      hx-push-url="true">

    {% csrf_token %}

    <div class="row mb-3">

        <div class="col-auto">
            <label for="inputSearch" class="visually-hidden">Пошук ліків: </label>
            <input type="text" class="form-control border-info" id="inputSearch" placeholder="Введіть назву ліків...">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Знайти</button>
        </div>
    </div>

    {% for key, pharm in pharmacy.items %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="{{ key }}" {% if key == 'apteka911' %} checked {% endif %}>
        <label class="form-check-label text-info" for="{{ key }}">
            {{ pharm }}
        </label>
    </div>
    {% endfor %}

</form>

<h2 class="mb-4 text-primary">Пошук: {{ word_search }}</h2>
