{% load static %}
<h2 class="mb-4 text-primary">{{ form_title }}</h2>
<div class="mb-3">
    {% for button in toolbar_buttons %}
    {% include 'ui/htmx_button.html' with button=button %}
    {% endfor %}
</div>
<p>
    <button class="btn btn-info" type="button" onclick="{% url 'pharmacy:update_db' %}" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
        Оновити дані БД
    </button>
</p>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="border-info card card-body" style="width: 500px;">
            <strong class="mb-3 text-info">Update:</strong>
            {% for key, value in update.items %}
            <p><strong class="float-start text-secondary me-4">{{ key }}: </strong> {{ value }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<form method="post"
      hx-post="{{ form_action_url }}"
      hx-target="#search-content"
      hx-swap="innerHTML">

    {% csrf_token %}

    <div class="row mb-3">

        <div class="col-auto">
            <label for="inputSearch" class="visually-hidden">Пошук ліків: </label>
            <input type="text"
                   name="search_query"
                   class="form-control border-info"
                   id="inputSearch"
                   placeholder="Введіть назву ліків..."
                   value="{{ word_search|default:'' }}">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Знайти</button>
        </div>
    </div>

    {% for key, pharm in pharmacy.items %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="{{ key }}" checked>
        <label class="form-check-label text-info" for="{{ key }}">
            {{ pharm }}
        </label>
    </div>
    {% endfor %}

</form>


<main class="main-content" id="search-content">
    {% if word_search %}
    <h3 class="mb-4 text-primary">Результат пошуку: {{ word_search }}</h3>
    {% if drugs %}
    {% include 'base_table.html' with table=drugs%}
    {% else %}
    <p>Препарат {{ word_search }} не знайдено</p>
    {% endif %}

    {% endif %}
</main>
