{% load static %}
<h2 class="mb-4 text-primary">{{ form_title }}</h2>
<div class="mb-3">
    {% for button in toolbar_buttons %}
    {% include 'ui/htmx_button.html' with button=button %}
    {% endfor %}
</div>

<form method="post"
      hx-post="{{ form_action_url }}"
      hx-target="#main-content"
      hx-swap="innerHTML"
      hx-push-url="true">

    {% csrf_token %}

    <div class="row mb-3">
        <label class="form-label text-info fw-semibold">Search</label>
        <input class="form-control" name="search_word" value="{{ search_word }}">
        <button type="submit"
                class="btn btn-success"
                hx-target="#main-content"
                hx-push-url="true">
            <i class="bi bi-save me-2"></i>
            Знайти
        </button>
    </div>

</form>

<h2 class="mb-4 text-primary">Пошук: {{ word_search }}</h2>
