<!--    навігація    -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for nav in breadcrumbs.values %}
        <li class="breadcrumb-item active" aria-current="page">
            {% if nav.url %}
            <a href="{% url nav.url %}">
                {% endif %}
                {{ nav.name }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h3 class="card-title mb-0"><i class="{{ section.icon }}"></i>{{ section.page_title }}</h3>
        </div>

        <div class="card-body mt-4">
            <div class="mb-3">
                {% for button in toolbar_buttons %}
                {% include "ui/htmx_button.html" with button=button %}
                {% endfor %}
            </div>
            <hr>
            <h2 class="mb-4 text-primary"> {{ form_title }} </h2>
            <div class="row mb-5">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item  text-info"><strong class="text-secondary">Діє з:</strong>
                            {{ form_data.effective_from }}
                        </li>
                        <li class="list-group-item text-info"><strong class="text-secondary">Мінімальна заробітна плата
                            (місячна):</strong> {{ form_data.min_salary_monthly }}
                        </li>
                        <li class="list-group-item text-info"><strong class="text-secondary">Прожитковий мінімум (для
                            працездатних):</strong> {{ form_data.pm_for_able_bodied }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item text-info"><strong class="text-secondary">Ставка ПДФО:</strong>
                            {{ form_data.pdfo_rate }}
                        </li>
                        <li class="list-group-item text-info"><strong class="text-secondary">Ставка Військового
                            збору:</strong> {{ form_data.vz_rate }}
                        </li>
                        <li class="list-group-item text-info"><strong class="text-secondary">Ставка ЄСВ:</strong>
                            {{ form_data.esv_rate }}
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>