<div class="container">
    <h1 class="mt-3 text-info">{{ title }}</h1>
    <hr>

    <div class="mb-3">
        {% for button in buttons %}
        {% include "ui/htmx_button.html" with button=button %}
        {% endfor %}
    </div>

    <table class="table table-success table-striped table-hover mt-3">
        <thead>
        <tr>
            {% for table_title in table_titles %}
            <th>{{ table_title|capfirst }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table_rows %}
        <tr role="button"
            tabindex="0"
            hx-get="{{ row.row_url }}"
            hx-target="#main-content"
            hx-push-url="true"
            onkeypress="if(event.key === 'Enter') this.click();"
            style="cursor: pointer;">

            {% for value in row.values %}
            <td>{{ value }}</td>
            {% endfor %}

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>