<div id="main-content">
    <div class="container mt-4">
        <div class="card shadow" id="main-content">
            <div class="card-header bg-info text-white">
                <h3 class="card-title mb-0"><i class="bi bi-gear me-2"></i>{{ title }}</h3>
            </div>


            <div class="card-body mt-4">
                {% if buttons %}
                    {% for button in buttons %}
                        <button class="btn btn-outline-info me-2" type="button"
                                {% if redirect_button %}
                                hx-get="{% url button.redirect_button %}"
                                {% endif %}
                                hx-target="#main-content"
                                hx-push-url="true">
                            {#                            onclick="window.location='{% url button.redirect_button %}'">#}
                            <i class="{{ button.icon_button }}"></i>
                            {{ button.title_button }}
                        </button>
                    {% endfor %}
                {% endif %}
                <hr>
                <form method="POST"
                      >
                    {% csrf_token %}
                    <div class="mb-3 row">
                        {% for field in form %}
                            <label class="col-sm-5 col-form-label text-info">
                                {{ field.label }}
                                {% if field.help_text %}
                                    <span class="ms-1"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="top"
                                          title="{{ field.help_text }}">
                                    <i class="bi bi-question-circle text-info"></i>
                                </span>
                                {% endif %}
                            </label>
                            <div class="col-sm-10">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger small">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% comment %}
            <div class="row g-3">

                {% for field in form %}
                    <div class="col-md-3">
                        <label class="form-label fw-bold text-info">
                            {{ field.label }}
                            {% if field.help_text %}
                                <span class="ms-1"
                                      data-bs-toggle="tooltip"
                                      data-bs-placement="top"
                                      title="{{ field.help_text }}">
                                    <i class="bi bi-question-circle text-info"></i>
                                </span>
                            {% endif %}
                        </label>
                        {{ field }}
                    </div>
                {% endfor %}

            </div>
            {% endcomment %}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-success"
                                {# hx-get="{% url button.redirect_button %}"#}
                                hx-target="#main-content"
                                hx-push-url="true">
                            <i class="bi bi-save me-2"></i>Зберегти налаштування
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>