{# тільки контент (без меню) #}
<!--    навігація    -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for nav in breadcrumbs.values %}
        <li class="breadcrumb-item active" aria-current="page">
            {% if nav.url %}
            <a href="{% url nav.url %}">
                {% endif %}
                {{ nav.name }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h3 class="card-title mb-0"><i class='{{ section.icon }}'></i>{{ page_title }}</h3>
        </div>


        <div class="card-body" id="main-content">

            {% for block in page_blocks %}
            {% include block %}
            {% endfor %}
        </div>
    </div>
</div>