{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% endcomment %}
<div id="main-content">
    <h2 class="mb-4 text-primary">💰 Ключові соціальні показники на {{ social_indicators.current_year }} рік</h2>
    <div class="row mb-5">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Мінімальна заробітна плата
                    (місячна):</strong> {{ social_indicators.min_salary_monthly }}</li>
                <li class="list-group-item"><strong>Прожитковий мінімум (для
                    працездатних):</strong> {{ social_indicators.pm_for_able_bodied }}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Ставка ПДФО:</strong> {{ social_indicators.pdfo_rate }}</li>
                <li class="list-group-item"><strong>Ставка Військового збору:</strong> {{ social_indicators.vz_rate }}
                </li>
                <li class="list-group-item"><strong>Ставка ЄСВ:</strong> {{ social_indicators.esv_rate }}</li>
            </ul>
        </div>
    </div>
</div>
<hr>
{%  comment %}
</body>
{% endcomment %}

{% comment %}

{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<form action="">
    <div class="form-group"></div>
</form>
<div class="bd-callout bd-callout-info">
    <p>
        {{ message }}

    </p>
    <button class="btn btn-outline-info me-2"
            type="button"
{#            onclick="window.location='{% url redirect_button %}'">#}
            onclick="window.location='#'">
        Exit
    </button>
</div>
{% endblock content %}

{% endcomment %}