<h2 class="mb-4 text-primary">{{ obj.title}}</h2>
<div class="row mb-5">
    <div class="col">
        <ul class="list-group">
            {% for field in obj.fields %}
            <li class="list-group-item  text-info"><strong class="text-secondary">
                {{ field }}:</strong> {{ social_indicators.effective_from }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div>
    {% if obj.buttons %}
        {% for button in obj.buttons %}
            {% include "ui/htmx_button.html" with button=button %}
        {% endfor %}
    {% endif %}
</div>
<hr>