{% load static %}
{# Головне меню #}
<nav id="sidebar" class="d-flex flex-column p-3">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
       href="{% url 'home' %}">
        <img src="{% static 'business_office_accounting_chart_marketing_finance_icon_226219.svg' %}" alt="Logo"
             width="50" height="44" class="me-2">
        <span class="fs-4 fw-bold text-info">Облік ЗП</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}"
               class="nav-link active bg-info"
               hx-get="{% url 'home' %}"
               hx-target="#main-content"
               hx-push-url="true">
                <i class="bi bi-house-door me-2"></i> Головна
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuDirectories">
                <span><i class="bi bi-journal-text me-2 text-info"></i> Довідники</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu" id="menuDirectories">
                <li><a href="#" class="nav-link small">Класифікатори посад</a></li>
                <li><a href="#" class="nav-link small">Посади</a></li>
                <li><a href="#" class="nav-link small">Підрозділи</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuStaff">
                <span><i class="bi bi-people me-2 text-info"></i> Кадри</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu" id="menuStaff">
                <li><a href="#" class="nav-link small">Накази</a></li>
                <li><a href="{% url 'personnel:persons' %}"
                       class="nav-link small"
                       hx-get="{% url 'personnel:persons' %}"
                       hx-target="#main-content"
                       hx-push-url="true">
                    Фізичні особи</a></li>
                <li><a href="#" class="nav-link small">Особові рахунки</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuTime">
                    <span><i class="bi bi-clock-history me-2 text-info"></i> Робочий час та розрахункові
                    періоди</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu" id="menuTime">
                <li><a class="nav-link small" href="#">Розрахунковий період ЗП</a></li>
                <li><a class="nav-link small" href="#">Графіки робіт</a></li>
                <li><a class="nav-link small" href="#">Табель обліку робочого часу</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuOperations">
                <span><i class="bi bi-cash-stack me-2 text-info"></i>Зарплатні операції</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu navbar-nav-scroll" id="menuOperations"
                style="--bs-scroll-height: 60%;">
                <li><a class="nav-link small" href="#">Відомості на виплату</a></li>
                <li><a class="nav-link small" href="#">Розрахунок авансу</a></li>
                <li><a class="nav-link small" href="#">Нарахування матеріальної допомоги</a></li>
                <li><a class="nav-link small" href="#">Премії</a></li>
                <li><a class="nav-link small" href="#">Разові нарахування та утримання</a></li>
                <li><a class="nav-link small" href="#">Коригування нарахувань та утримань</a></li>
                <li><a class="nav-link small" href="#">Відпускні (нова операція)</a></li>
                <li><a class="nav-link small" href="#">Розрахунок відпускних (стара операція)</a></li>
                <li><a class="nav-link small" href="#">Розрахунок лікарняних</a></li>
                <li><a class="nav-link small" href="#">Відпустка по догляду за дитиною</a></li>
                <li><a class="nav-link small" href="#">Перерахунок</a></li>
                <li><a class="nav-link small" href="#">Середня за час відрядження</a></li>
                <li><a class="nav-link small" href="#">Заміни</a></li>
                <li><a class="nav-link small" href="#">Простій</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuCalculations">

                    <span><i class="bi bi-calculator me-2 text-info"></i>Розрахунок та відображення у
                    бух.обліку</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu" id="menuCalculations">
                <li><a href="#" class="nav-link small">Нарахування зарплати та утримань </a></li>
                <li><a href="#" class="nav-link small">Відображення у бух.обліку нарахувань та утримань </a></li>
                <li><a href="#" class="nav-link small">Нарахування ЄСВ </a></li>
                <li><a href="#" class="nav-link small">Розрахунковий лист співробітника (табулька)</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuOrders">
                <span><i class="bi bi-bar-chart-line me-2 text-info"></i> Звіти</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu" id="menuOrders">
                <li><a href="#" class="nav-link small">Зведена РПВ</a></li>
                <li><a href="#" class="nav-link small">Аналітичний звіт нарахувань ПДФО, ВЗ та ЄСВ</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" href="#menuSettings">
                <span><i class="bi bi-gear me-2 text-info"></i>Налаштування</span>
                <i class="bi bi-chevron-down text-info"></i>
            </a>
            <ul class="collapse collapse-submenu" id="menuSettings">
                <li><a href="{% url 'settings:social_settings' %}"
                       class="nav-link small"
                       hx-get="{% url 'settings:social_settings' %}"
                       hx-target="#main-content"
                       hx-push-url="true">
                    Соціальні показники</a></li>
                <li><a href="#" class="nav-link small">Інше</a></li>
            </ul>
        </li>
        <li>
            <hr>
            <div class="dropdown">
                {% comment %}
                <a href="#dropdownUser"
                   class="nav-link d-flex align-items-center text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle fs-4 me-2"></i>
                    <strong>Бухгалтер</strong>
                </a>
                {% endcomment %}
                <a class="nav-link d-flex justify-content-between" data-bs-toggle="collapse"
                   href="#dropdownUser">
                    <strong><i class="bi bi-person-circle me-2 text-info"></i>Бухгалтер - {{ user.username|default:"Гість" }}
                    </strong>
                    <i class="bi bi-chevron-down text-info"></i>
                </a>
                <ul class="collapse collapse-submenu" id="dropdownUser" aria-labelledby="dropdownUser">
                    <li><a class="nav-link small" href="#">Профіль</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="nav-link small" href="#">Вихід</a></li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
            </div>
            {% comment %}
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-info me-2" type="button">Log in</button>
            </form>
            {% endcomment %}

        </li>
    </ul>
</nav>